#  RPi3b

tcl_port 5555
telnet_port 4444
gdb_port 3333

transport select jtag

adapter_khz 1000

jtag_ntrst_delay 100
reset_config trst_only separate 

set _CHIPNAME rpi3b

set _TARGETNAME_0 $_CHIPNAME.cpu0
set _TARGETNAME_1 $_CHIPNAME.cpu1
set _TARGETNAME_2 $_CHIPNAME.cpu2
set _TARGETNAME_3 $_CHIPNAME.cpu3

jtag newtap $_CHIPNAME dap -irlen 4 -expected-id 0x4ba00477

target create $_TARGETNAME_0 aarch64 -chain-position $_CHIPNAME.dap -dbgbase 0x80010000 -ctibase 0x80018000
#target create $_TARGETNAME_1 aarch64 -chain-position $_CHIPNAME.dap -dbgbase 0x80012000 -ctibase 0x80019000
#target create $_TARGETNAME_2 aarch64 -chain-position $_CHIPNAME.dap -dbgbase 0x80014000 -ctibase 0x8001a000
#target create $_TARGETNAME_3 aarch64 -chain-position $_CHIPNAME.dap -dbgbase 0x80016000 -ctibase 0x8001b000

#target smp $_CHIPNAME.cpu3 $_CHIPNAME.cpu2 $_CHIPNAME.cpu1 $_CHIPNAME.cpu0

proc rpi3b_gdb_attach {target} {
  echo "gdb attach halt ..."
  targets 0
  halt
}

$_TARGETNAME_0 configure -event gdb-attach {
  halt
}
